<%= stylesheet_link_tag 'login', media: 'all' %>

<div class="container">
<h1>USERS</h1>
  <div class="container-main">
    
    <div id="users">
      <% @users.each do |user| %>
        <%= render user %>
          <%= link_to "Show this user", user , class: "btn"%>
      <% end %>
    </div>
    
  </div>
  <div class="div-btn">
        <%= link_to "New user", new_user_path , class: "btn" %>
    </div>

</div >

