@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

h1 {
  text-align: center;
  margin: 10px 0;
  color: #ffffa7;
}

.form-label {
  font-weight: bold;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  float: right;
}

.form-group{
  width: 45%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.form-group div{
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: calc(100% - 40px);
  margin: 0 20px;
  align-items: flex-start;
}

.form-group div label{
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  color: #ffffa7;
}

.form-group div input{
  width: calc(100% - 40px);
  padding: 10px;
  border-radius: 5px;
  background-color: #fcf8b3;
  border: 1px solid #f9f494 !important;
}

.form-group .div-btn .submit:hover {
  background-color: #FADB51;
}

.container {
  display: flex;
  justify-content: center;
  background-color: #ffffa7;
  height: 100vh;
  width: 100%;
  margin: 0;
}

.container-main {
  border-radius: 8px;
  width: 900px;
  height: 450px;
  background-color: #ffa400;
  box-shadow: 9px 7px 40px -6px rgba(0, 0, 0, 0.456);
  background-image: url('praia3.gif');
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 15px 5px;
}

.form-group .div-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  font-size: large;
}

.form-group .div-btn .submit {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: #fcf8b3;
  border: 1px solid #f9f494 !important;
}

a {
  color: #ffffa7;
}

/*Page users*/

#users {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 5px;
}